# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Contacts.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Contacts\src\.idea\.idea.Contacts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
