<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="/Users/jguadagno/Projects/internal-nlog-api.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file  -->
        <target xsi:type="File" name="allfile" fileName="nlog-all-api-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

        <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
        <target xsi:type="File" name="ownFile-web" fileName="nlog-own-api-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
        <target xsi:type="ApplicationInsightsTarget" name="aiTarget">
            <instrumentationKey>3202d2db-eef6-4e13-b6b1-74d6cab46700</instrumentationKey>	<!-- Only required if not using ApplicationInsights.config -->
            <contextproperty name="threadid" layout="${threadid}" />	<!-- Can be repeated with more context -->
        </target>
        <target name="database" xsi:type="Database" 
                dbProvider="sqlserver">
            <connectionString>Server=.;Database=Contacts;User Id=contacts_user;password=P@ssw0rd1</connectionString>

            <!--
            Script for creating the dbo.Log table.
                
            SET ANSI_NULLS ON
            SET QUOTED_IDENTIFIER ON
            CREATE TABLE [dbo].[Log] (
                [Id] [int] IDENTITY(1,1) NOT NULL,
                [MachineName] [nvarchar](50) NOT NULL,
                [Logged] [datetime] NOT NULL,
                [Level] [nvarchar](50) NOT NULL,
                [Message] [nvarchar](max) NOT NULL,
                [Logger] [nvarchar](250) NULL,
                [Callsite] [nvarchar](max) NULL,
                [Exception] [nvarchar](max) NULL,
              CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([Id] ASC)
                WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
            ) ON [PRIMARY]
            -->

            <commandText>
                insert into dbo.Log (
                MachineName, Logged, Level, Message,
                Logger, Callsite, Exception
                ) values (
                @MachineName, @Logged, @Level, @Message,
                @Logger, @Callsite, @Exception
                );
            </commandText>

            <parameter name="@MachineName" layout="${machinename}" />
            <parameter name="@Logged" layout="${date}" />
            <parameter name="@Level" layout="${level}" />
            <parameter name="@Message" layout="${message}" />
            <parameter name="@Logger" layout="${logger}" />
            <parameter name="@Callsite" layout="${callsite}" />
            <parameter name="@Exception" layout="${exception:tostring}" />
        </target>
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--All logs, including from Microsoft-->
        <logger name="*" minlevel="Trace" writeTo="allfile" />

        <!--Skip non-critical Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" maxlevel="Info" final="true" /> <!-- BlackHole without writeTo -->
        <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
        <logger name="*" minlevel="Trace" writeTo="aiTarget" />
        <logger name="*" minlevel="Error" writeTo="database" />
    </rules>
</nlog>